/* 
    Created on : 07.11.2021, 10:09:45
    Author     : Владимир
*/
#formText{
    position: absolute;
    top:10px;
    left:1px;
    width:60px;
    height:50px;
    display:block;    
    margin-left: 4px;
    border:1px black solid; 
}
#formText p{
   font: 12px sans-serif; 
   margin-top: 4px;
   margin-bottom: 2px;
}
#formText input.text{
    width:40px;
    
}
#range{
    width:100px;
}
#buttonForm{
    margin: 10px 10px;
}
#formFile{
    border:1px black solid;
    background-color: #AAAAAA;
    width:250;
    height:100;
    position: fixed; top: 50%; left: 50%;
   -webkit-transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display:none;
/*    position:absolute;
    left:auto;
    top:auto;
  */
}
